RewriteEngine On

# Reindirizzamento per la ricerca di giocatori
RewriteRule ^api/giocatori$ giocatori.php [L]

# Reindirizzamento per la ricerca di allenamenti
RewriteRule ^api/allenamenti$ allenamenti.php [L]

# Reindirizzamento per la ricerca di squadre
RewriteRule ^api/squadre$ squadre.php [L]

# Reindirizzamento per la ricerca di utenti
RewriteRule ^api/utenti$ utenti.php [L]
